<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daotong.springboot.service.infrastructure.persistence.mybatis.mapper.LoadingMapper">
    <!--创建订单-->
    <insert id="saveLoading" parameterType="loadingDTO">
        insert into t_loading( id,
                                loading_no,
                                send_station_id,
                                end_station_id,
                                line_name,
                                station_count,
                                plan_arrival_time,
                                plan_send_time,
                                plan_complate_time,
                                saler,
                                forwarder,
                                plateNo,
                                temperature_layer,
                                driver_name,
                                tel,
                                publish)
                values (#{loadingId},
                        #{loadingNo},
                        #{sendStationId},
                        #{endStationId},
                        #{lineName},
                        #{stationCount},
                        #{planArrivalTime},
                        #{planSendTime},
                        #{planComplateTime},
                        #{saler},
                        #{forwarder},
                        #{plateNo},
                        #{temperatureLayer},
                        #{driverName},
                        #{tel},
                        0)
    </insert>
    <!--条件组合查询发布状态的订单-->
    <select id="getByQueryParam" parameterType="loadingQueryParam" resultType="loadingVO">
      select id as loading_id,
            saler,
            loading_no,
            line_name,
            actual_send_time,
            actual_complete_time,
            actual_arrival_time,
            plan_send_time,
            plan_complete_time,
            temperature_layer,
            loading_state as loading_status,
            price_quote,
            transfer_type,
            forwarder,
            plate_no,
            driver_name,
            tel
              from t_loading
              <where>
                  <if test="loadingNo!=null and loadingNo!=''">
                      loading_no=#{loadingNo}
                  </if>
                  <if test="sendStationId!=null">
                      and send_station_id=#{sendStationId}
                  </if>
                  <if test="endStationId!=null">
                      and end_station_id=#{endStationId}
                  </if>
                  <if test="lineName!=null and lineName!=''">
                      and line_name=#{lineName}
                  </if>
                  <if test="planSendTime!=null">
                      and plan_send_time=#{planSendTime}
                  </if>
                  <if test="planComplateTime!=null">
                      and plan_complate_time=#{planComplateTime}
                  </if>
                  <if test="loadingEnum!=null and loadingEnum!=''">
                      and loading_state=#{loadingEnum}
                  </if>
                  <if test="saler!=null and saler!=''">
                      and saler=#{saler}
                  </if>
                  <if test="forwarder!=null and forwarder!=''">
                      and forwarder=#{forwarder}
                  </if>
                  <if test="plateNo!=null and plateNo!=''">
                      and plate_no=#{plateNo}
                  </if>
                  <if test="temperatureLayer!=null and temperatureLayer!=''">
                      and temperature_layer=#{temperatureLayer}
                  </if>
                  <if test="driverName!=null and driverName!=''">
                      and driver_name=#{driverName}
                  </if>
                  <if test="tel!=null and tel!=''">
                      and tel=#{tel}
                  </if>
              </where>
    </select>
    <!--手动完成运单-->
    <update id="manualComplete">
      update t_loading set loading_state='manual',actual_complate_time=#{complateTime} where id=#{loadingId}
    </update>
    <!--更新实际到达首站时间-->
    <update id="updateActualArrivalTime">
        update t_loading set loading_state='arrivedStart',actual_arrival_time=#{actualArrivalTime} where id=#{loadingId}
    </update>
    <!--更新实际首站发车时间-->
    <update id="updateActualSendTime">
        update t_loading set loading_state='transporting',actual_send_time=#{actualSendTime} where id=#{loadingId}
    </update>
    <!--更新实际完成时间-->
    <update id="updateActualCompleteTime">
        update t_loading set loading_state='complete',actual_complate_time=#{actualCompleteTime} where id=#{loadingId}
    </update>
    <!--更新运单内容-->
    <update id="updateLoading">
        update t_loading set
        <if test="sendStationId!=null">
            send_station_id=#{sendStationId},
        </if>
        <if test="endStationId!=null">
            end_station_id=#{endStationId},
        </if>
        <if test="saler!=null and saler!=''">
            saler=#{saler},
        </if>
        <if test="temperatureLayer!=null and temperature_layer!=''">
            temperature_layer=#{temperatureLayer},
        </if>
        <if test="forwarder!=null and forwarder!=''">
            forwarder=#{forwarder},
        </if>
        <if test="plateNo!=null and plateNo!=''">
            plate_no=#{plateNo},
        </if>
        <if test="priceQuote!=null and priceQuote!=''">
            price_quote=#{priceQuote},
        </if>
        <if test="driverName!=null and driverName!=''">
            driver_name=#{driverName},
        </if>
        <if test="transferType!=null">
            transfer_type=#{transferType},
        </if>
        where id=#{loadingId}
    </update>
    <!--更新发布状态-->
    <update id="updatePublish">
        update t_loading set publish=1 where id=#{loadingId}
    </update>

</mapper>