<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daotong.springboot.service.infrastructure.persistence.mybatis.mapper.LoadingStationMapper">
    <!--更新站点实际到达时间-->
    <update id="updateActualArrivalTime">
        update t_loadingstation set actual_arrival_time=#{actualArrivalTime},station_status='arrived' where id=#{loadingStationId}
    </update>
    <!--更新站点实际出发时间-->
    <update id="updateActualSendTime">
        update t_loadingstation set actual_send_time=#{actualSendTime},station_status='start'where id=#{loadingStationId}
    </update>
    <!--根据运单号将所有状态设置为完成-->
    <update id="setManualComplete">
        update t_loadingstation set station_status='arrived' where loading_id=#{loadingId}
    </update>
    <delete id="removeLoadingStations">
        delete from t_loadingstation where loading_id=#{loadingId}
    </delete>
    <select id="getSeqs" resultType="java.lang.Integer">
        select seq from t_loadingstation where loading_id=#{loadingId}
    </select>
    <!--运单创建时添加站点信息-->
    <insert id="addRelations" parameterType="loadingStationDTO">
        insert into t_loadingstation (loading_id,
                                      station_id,
                                      station_status,
                                      seq,
                                      plan_arrival_time,
                                      plan_send_time)
                 values (#{loadingId},
                          #{stationId},
                          #{stationStatus},
                          #{seq},
                          #{planArrivalTime},
                          #{planSendTime})
    </insert>
</mapper>